{% comment %}
  HOMEPAGE - RECURSIVE RITUAL

  @MutationCompatible: VoidBloom
  @StrategyProfile: quantum-entangled
  @Version: 1.0.0
{% endcomment %}

{% render 'quantum-layer' %}

<div class="template-index">
  {% section 'voidbloom-homepage' %}
</div>
